{% extends '@KnpMenu/menu.html.twig' %}


{% block linkElement %}
    <a href="{{ item.uri }}" {% if item.hasChildren %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
        {% if item.attribute('icon') is defined %}
            {{ item.attribute('icon')|raw }}
        {% endif %}
        {{ item.label|raw }}
        {% if item.hasChildren %}<span class="caret"></span>{% endif %}
    </a>
    {% if item.hasChildren %}
        <ul class="dropdown-menu">
            {% for childItem in item.children %}
                <li><a href="{{ childItem.uri }}">{{ childItem.label }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block item %}
    <li class="{% if matcher.isCurrent(item) or matcher.isAncestor(item) %}active{% endif %} {% if item.hasChildren%}dropdown{% endif %}">
        {%- if item.uri is not empty %}
            {{ block('linkElement') }}
        {%- endif %}
    </li>
{% endblock %}

{% block children %}
    {% for item in item.children %}
        {{ block('item') }}
    {% endfor %}
{% endblock %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        <ul class="nav navbar-nav">
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

