{% extends '@EduBox/front_layout.html.twig' %}

{% set title = 'Baş sahypa' %}

{% block front_title %}{{  parent() }} / {{ title }}{% endblock %}

{% block front_content %}
    <div id="carousel-homepage-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-target="#carousel-homepage-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-homepage-generic" data-slide-to="1" class=""></li>
            <li data-target="#carousel-homepage-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <a href="{{ path('edubox_book_list') }}">
                    <img src="{{ asset('uploads/image/slider/library.jpg') }}" alt="Akylly kitaphana">
                </a>
            </div>
            <div class="item">
                <a href="{{ path('edubox_problem_list') }}">
                    <img src="{{ asset('uploads/image/slider/problems.jpg') }}" alt="Informatikadan meseleler">
                </a>
            </div>
            <div class="item">
                <a href="{{ path('edubox_resource_list') }}">
                    <img src="{{ asset('uploads/image/slider/resources.jpg') }}" alt="Maglumatlar">
                </a>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-homepage-generic" data-slide="prev">
            <span class="fa fa-angle-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-homepage-generic" data-slide="next">
            <span class="fa fa-angle-right"></span>
        </a>
    </div>
{% endblock %}