{% extends '@EduBox/front_layout.html.twig' %}

{% set title = resource.name %}

{% block front_title %}{{  parent() }} / {{ title }}{% endblock %}

{% block content_header %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block front_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary box-solid">
                <div class="box-body">
                    {{ resource.content|raw }}
                </div>
                {% if resource.categories|length > 0 or resource.tags|length > 0 %}
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {% if resource.categories|length > 0 %}
                                Kategoriýalar:
                                {% for category in resource.categories %}
                                    {{ category.name }}
                                    {% if not loop.last %}, {% endif %}
                                {% else %}
                                    -
                                {% endfor %}
                            {% endif %}
                            <br><br>
                            {% if resource.tags|length > 0 %}
                                Tegler:
                                {% for tag in resource.tags %}
                                    {{ tag.name }}
                                    {% if not loop.last %}, {% endif %}
                                {% else %}
                                    -
                                {% endfor %}
                                <br>
                            {% endif %}
                        </h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{#
                        {% for author in book.authors %}
                            {% if loop.first %} - {% endif %}{{ author.fullName }}{% if not loop.last %}, {% endif %}
                        {% endfor %}#}