{% extends '@EduBox/front_layout.html.twig' %}

{% set title = 'Awtor: '~author.fullName %}

{% block front_title %}{{  parent() }} / {{ title }}{% endblock %}

{% block content_header %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block front_content %}
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    {% if author.image.size is defined %}
                        <img src="{% path author.image, 'reference' %}" alt="" width="100%">
                    {% else %}
                        <img src="{{ asset('uploads/image/author.jpg') }}" alt="" width="100%">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Awtor barada</h3>
                </div>
                <div class="box-body">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Ady</b>
                            <a class="pull-right">
                                {{ author.fullName }}
                            </a>
                        </li>
                        {% if author.birthday %}
                            <li class="list-group-item">
                                <b>Doglan wagty</b>
                                <a class="pull-right">
                                    {{ author.birthday.format('Y.m.d') }}
                                </a>
                            </li>
                        {% endif %}
                        {% if author.categories|length > 0 %}
                            <li class="list-group-item">
                                <b>Kategoriýalar:</b>
                                <p>
                                    {% for category in author.categories %}
                                        {{ category.name }}
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="col-md-12">
                    {% if author.content %}
                        <p>
                            {{ author.content|raw }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Awtoryň kitaplary</h3>
            </div>
            <div class="box-body">
                {% if author.books|length > 0 %}
                    <div class="col-md-12">
                        {% for book in author.books %}
                            {% include '@EduBox/Front/book/single.html.twig' with {'book': book} only %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{#
                        {% for author in book.authors %}
                            {% if loop.first %} - {% endif %}{{ author.fullName }}{% if not loop.last %}, {% endif %}
                        {% endfor %}#}